body {
  width: 760px;
  margin: 20px auto;
  border: 20px solid #cccccc;
}

.post {
  margin: 20px 10px;
}


h2 {
  background-color: blue;
  color: #ffffff;
  padding: 5px;
}

.date {
  color: aqua;
}

h3 {
  font-size: 20pt;
  border-bottom: 5px solid #cccccc;
}

.keyword {
  color: #ff0000;
  font-weight: bold;
  border-bottom: 2px solid  #ff0000;
}

.example {
  border-left: 5px solid #cccccc;
  padding-left:5px;
}
