body {
  width: 760px;
  margin: 0 auto;
}

.container {
  text-align: center;
}

table {
  width: 600px;
  height: 600px;
}
td {
  width: 200px;
  height: 200px;
  cursor: pointer; 
}

td:hover {
  border: 1px solid #000000;
}

.vertical {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.horizontal {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
